{% extends 'base/base.html' %}

{% block title %}Group Portal{% endblock %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f3f4f6;
        color: #333;
        text-align: center;
        padding-top: 100px;
    }
    h1 {
        font-size: 48px;
        color: #1f2937;
    }
    p {
        font-size: 24px;
        color: #4b5563;
    }
</style>
{% endblock %}

{% block content %}
<h1>Ласкаво просимо на Group Portal!</h1>
<p>Раді вітати вас на нашому вебсайті.</p>
{% endblock %}
