{% extends 'base/base.html' %}
{% block title %}Дякуємо за участь!{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #4CAF50; font-size: 32px;">Дякуємо за проходження опитування!</h1>
<p style="text-align: center; color: #555; font-size: 20px; margin-top: 20px;">Ваші відповіді були успішно збережені. Ми вдячні за вашу участь!</p>

<div style="text-align: center; margin-top: 30px;">
  <a href="/" style="color: #007bff; font-size: 18px; text-decoration: underline;">Повернутись на головну</a>
</div>
{% endblock %}
