<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type: none; padding: 0; display: flex; justify-content: flex-end; margin: 0;">
                <li style="margin-left: 20px;"><a href="{% url 'forum:home_forum' %}">Forum</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'gallery:media_gallery' %}">Gallery</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'events:calendar' %}">Events</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'vote:poll_list' %}">Votes</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'announcements:announcement_list' %}">Announcements</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'materials:material_list' %}">Materials</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'accounts:profile' %}">Profile</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'grades:grade_list' %}">Grades</a></li>
                <li style="margin-left: 20px;"><a href="{% url 'poll:poll_home' %}">Polls</a></li>
                {% if user.is_authenticated %}
                    <li style="margin-left: 20px;"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li style="margin-left: 20px;"><a href="{% url 'accounts:register' %}">Sign Up</a></li>
                    <li style="margin-left: 20px;"><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Мережа</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
