{% extends 'base/base.html' %}
{% block title %}{{ branch.title }}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Модерація медіа</title>
</head>
<body>
<nav style="background-color: #f0f0f0; padding: 10px;">
    <a href="{% url 'gallery:media_gallery' %}" style="margin-right: 15px;">Галерея</a>
    <a href="{% url 'gallery:upload_media' %}" style="margin-right: 15px;">Завантажити медіа</a>
</nav>
<hr>
<h1>Модерація медіа</h1>

{% if media_list %}
    <ul>
        {% for media in media_list %}
            <li>
                <img src="{{ media_file.file.url }}" alt="Image" />
                <form method="post" action="{% url 'gallery:approve_media' media.id %}">
                    {% csrf_token %}
                    <button type="submit">Схвалити</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Немає медіа для модерації.</p>
{% endif %}

</body>
{% endblock %}
